body{
background-color:#FFD1DC;
}
.topnav {
   background-color: #333333;
   overflow: hidden;
}

.topnav a {
   float: left;
   color:#ffffff;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: #DDDDDD;
   color: black;
}

.topnav a.active {
   background-color: #ffb6c1;
   color: white;
}
